# =====================
# Gradle
# =====================
.gradle/
build/

# =====================
# IntelliJ IDEA
# =====================
.idea/
*.iml

# =====================
# OS / Logs
# =====================
.DS_Store
Thumbs.db
*.log
